#cadastro_categoria{
    display: flex;
    height: 95vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--fundo-claro);
    gap: 90px;
    padding-top: 40px;
}

#cadastro_categoria h1{
    color: var(--laranja-destaque);
    font-weight: 500;
    font-size: 4rem;
}

#formulario{
    display: flex;
    flex-direction: column;
    gap: 130px;
}

#campo_form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#campo_form label{
    font-weight: 500;
    font-size: 1.5rem;
}

#campo_form input{
    width: 688px;
    height: 60px;
    border-radius: 10px;
    border: 3px solid var(--laranja-destaque);
    outline: none;
    padding-left: 15px;
    box-shadow: 0px 2px 9px #9c9c9c;
    font-size: 1rem;
}

#botoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#botao_salvar{
    background-color: var(--laranja-destaque);
    border: none;
    border-radius: 10px;
    width: 323px;
    height: 60px;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--vinho);
    cursor: pointer;
}

#botao_salvar:hover{
    transform: scale(1.1);
}

#botao_cancelar{
    background-color: var(--fundo-claro);
    border: 3px solid var(--laranja-destaque);
    border-radius: 10px;
    width: 323px;
    height: 60px;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--vinho);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#botao_cancelar:hover{
    transform: scale(1.1);
}