#botoes_cardapio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 50px;
}

#botao_filtrar{
    width: 20%;
    height: 60px;
    border-radius: 16px;
    background-color: var(--laranja-destaque);
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    color: var(--vinho);
}

#botoes_direita{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
    gap: 20px;
}

.botao{
    width: 50%;
    height: 60px;
    border-radius: 16px;
    background-color: var(--laranja-destaque);
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--vinho);
}

#card_produtos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   /* Colunas Fixas: grid-template-columns: 100px 200px 100px; (três colunas com tamanhos definidos).
    Colunas com Fração (fr): grid-template-columns: 1fr 2fr 1fr; (divide o espaço em 4 partes, a segunda coluna é o dobro das outras).
    Uso com repeat(): grid-template-columns: repeat(3, 1fr); (cria três colunas de tamanho igual).*/
}