/****************************BANNER***************************************/
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 30px 0px 0px 0px;
    background-color: var(--fundo-claro);
    height: 100vh;
    margin-top: 0px;
    padding-top: 60px;
}

#banner h1{
    color: var(--laranja-destaque);
    font-size: 6rem;
    font-weight: 420;
    justify-content: center;
    align-items: center;
}

#area_botoes{
    display: flex;
    flex-direction: row;
    gap: 60px;
    width: 40%;
    justify-content: center;
}

#area_botoes button{
    height: 60px;
    width: 200px;
    border: none;
    border-radius: 10px;
    width: 100%;
    font-size: 1.2rem;
    cursor: pointer;
}

.botao_atendente{
    background-color: var(--laranja-destaque);
    color: var(--vinho);
    font-weight: 600;
}

.botao_atendente:hover{
    background-color: #d87a00;
    color: var(--vinho);
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.botao_cardapio{
    background-color: var(--vinho);
    color: var(--laranja-destaque);
    font-weight: 500;
}

.botao_cardapio:hover{
    background-color: #5e2804;
    color: var(--laranja-destaque);
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

/***************************DESTAQUES**************************************/

.destaques{
    background-color: var(--fundo-escuro);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#destaques_conteudo{
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

#destaques_conteudo div{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#destaques_conteudo p{
    font-size: 1.7rem;
}

#destaques_conteudo h2{
    font-size: 2.5rem;
    font-weight: 500;
}

#mais_pedidos{
    background-image: url("/imgs/mais_pedidos.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 50%; 
    border-radius: 20px;
    align-items: start;
    justify-content: flex-end;
    padding-left: 20px;
    padding-bottom: 20px;
}

#dobradinha{
    display: flex ;
    flex-direction: column;
    width: 50%;
    height: 100%;
    gap: 25px;
}

#muito_bacon{
    background-image: url("/imgs/muito_bacon.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    border-radius: 20px;
    align-items: end;
    padding-right: 20px;
    padding-bottom: 20px;
}

#super_combos{
    background-image: url("/imgs/super_combos.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    border-radius: 20px;
    align-items: end;
    padding-right: 20px;
    padding-bottom: 20px;
}

/************************************CARDAPIO**********************************************/
.cardapio{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--fundo-claro);
}

#titulo_cardapio{
    color: var(--laranja-destaque);
    font-weight: 500;
    font-size: 6.2rem;
    margin-top: 100px;
    margin-bottom: 100px;
}


/************************************UNIDADES**********************************************/
.unidades{
    background: linear-gradient(#00000080, #00000080),url("../../../public/imgs/unidade.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

#conteudo_unidades{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    height: 100%;
    justify-content: center;
    padding: 50px 0;
}

#enderecos_unidades{
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 35px;
}

#enderecos_unidades h2{
    font-size: 4rem;
    font-weight: 500;
    text-transform: uppercase;
    align-self: left;
}

#lista_enderecos{
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    font-weight: 425;
    gap: 40px;
    margin-left: 60px;
    line-height: 2.5;
    list-style: none;
}