#detalhes_produto{
    width: 100%;
    min-height: 100vh;
    background-color: var(--fundo-claro);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 180px;
    padding-bottom: 80px;
}

#conteudo_pagina{
    width: 80%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /*height: 80%;*/
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 60px;
}

#conteudo_pagina h1{
    font-size: 4rem;
    font-weight: 500;
    color: var(--laranja-destaque);
}

#conteudo_pagina img{
    height: 452.75px;
    width: 682.19px;
    border-radius: 20px;
}

#informacoes_produto{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    font-size: 1.5rem;
}

#parte_esquerda{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
}

#parte_direita{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#parte_direita li{
    display: flex;
    padding-left: 15px;
}